:root {
    --main-white-color: #FFFFFF;
    --accent-color: #FF6C00;
    --primary-text-color: #303030;
    --primary-grey-color: #9DA4BD;
    --secondary-grey-color: #555555;
}

body {
    background-color: var(--main-white-color);

    font-family: 'Open Sans', sans-serif;
    letter-spacing: 0.02em;
}

.section {
    padding-top: 120px;
    padding-bottom: 120px;
}

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.title {
    font-family: 'Raleway', sans-serif;
    font-size: 42px;
    line-height: 1.17;
    letter-spacing: 0.05em;
}

.list {
    padding: 0;
    margin: 0;

    list-style: none;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

h1,
h2,
h3,
p {
    margin-top: 0;
    margin-bottom: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

/* Header */

.hero-title {
    font-size: 72px;
    line-height: 1.18;

    color: var(--main-white-color);
    background-color: teal;
}

.background-container,
.header-button {
    background-color: teal;
}

.background-container {
    display: flex;
    align-items: center;
    padding-top: 40px;
    padding-left: 100px;
    padding-right: 20px;
}

.header-list {
    display: flex;
}

.header-list .item:not(:last-child) {
    margin-right: 30px;
}

.nav-right {
    margin-left: auto;
}

.link-tel {
    margin-right: 40px;
}

.header-list .link,
.link-tel {
    font-weight: 600;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.1em;
    text-decoration: none;

    color: var(--main-white-color);
}

.header-button {
    display: inline-block;
    padding: 12px 20px;

    font-family: inherit;
    font-weight: 600;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.09em;
    text-transform: uppercase;
    
    color: var(--main-white-color);

    border: 1px solid var(--accent-color);
    border-radius: 25px;

    cursor: pointer;
}

.header-list .link:hover,
.header-list .link:focus,
.link-tel:hover,
.link-tel:focus {
    color: var(--accent-color);
}

.header-button:hover,
.header-button:focus {
    background-color: var(--accent-color);
}

/* Hero */

.hero-list .link {
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    text-decoration: none;

    color: var(--primary-text-color);
}

.hero-list .link:hover,
.header-button:focus {
    color: var(--accent-color);
}

.hero-text-before {
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    text-transform: uppercase;
    letter-spacing: normal;

    color: rgba(157, 164, 189, 0.6);
}
.hero-text {
    font-size: 18px;
    line-height: 1.67;

    color: var(--primary-grey-color);
}

/* About */

.container-about {
    display: flex;
    padding-right: 100px;
}
.container-about img {
    margin-right: 30px;
}

.about-text-before {
    margin-bottom: 20px;

    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    text-transform: uppercase;
    letter-spacing: normal;

    color: var(--primary-text-color);
}
.about-title {
    margin-bottom: 20px;

    color: var(--primary-text-color);
}
.about-text-primary {
    margin-bottom: 20px;

    font-size: 18px;
    line-height: 1.67;
    letter-spacing: 0.02em;

    color: var(--secondary-grey-color);
}
.about-text-secondary {
    margin-bottom: 42px;

    font-size: 14px;
    line-height: 1.86;

    color: var(--secondary-grey-color);
}
.about-button {
    display: inline-block;
    padding: 12px 20px;

    font-family: inherit;
    font-weight: 600;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.09em;
    text-transform: uppercase;

    color: var(--primary-text-color);
    background-color: var(--main-white-color);

    border: 1px solid var(--accent-color);
    border-radius: 25px;

    cursor: pointer;
}
.about-button:hover,
.about-button:focus {
    color: var(--main-white-color);
    background-color: var(--accent-color);
}

/* Services */

.services-text-before {
    padding-bottom: 20px;

    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    text-transform: uppercase;
    letter-spacing: normal;

    color: rgba(157, 164, 189, 0.6);
}
.services-title {
    padding-bottom: 44px;

    color: var(--main-white-color);
    background-color: teal;
}
.services-lists {
    display: flex;
    margin-bottom: 44px;
}
.services-list-left,
.services-list-right {
    flex-basis: calc((100% - 44px) / 2);
    padding: 30px 21px 30px 20px;

    font-size: 18px;
    line-height: 1.67;

    color: var(--primary-grey-color);
}
.services-list-left {
    margin-right: 30px;
}
.services-list-left .item {
    display: flex;
}
.services-list-left .item:not(:last-child) {
    margin-bottom: 20px;
}
.services-list-right .item {
    display: flex;
}
.services-list-right .item:not(:last-child) {
    margin-bottom: 20px;
}
.text-price {
    margin-left: auto;
}
.services-button-container {
    text-align: center;
}
.services-button {
    display: inline-block;
    padding: 12px 20px;


    font-weight: 600;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.09em;
    text-transform: uppercase;
    
    color: var(--main-white-color);
    background-color: teal;

    border: 1px solid #FF6C00;
    border-radius: 25px;
    cursor: pointer;
}
.services-button:hover,
.services-button:focus {
    background-color: var(--accent-color);
}

/* Why us */

.number {
    font-weight: 700;
    font-size: 42px;
    line-height: 1.36;
    letter-spacing: 0.05em;

    color: var(--primary-text-color);
}
.sign {
    font-weight: 600;
    font-size: 16px;
    line-height: 1.38;

    color: var(--accent-color);
}
.whyus-list-text {
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    letter-spacing: normal;

    color: var(--primary-text-color);
}
.whyus-text-before {
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    text-transform: uppercase;
    letter-spacing: normal;

    color: var(--primary-text-color);
}
.why-us-title {
    color: var(--primary-text-color);
}
.whyus-text {
    font-size: 18px;
    line-height: 1.67;

    color: var(--secondary-grey-color);
}

/* Our barbers */

.our-barbers {
    background-color: #F7F7F7;
}

.barbers-text-before {
    padding-bottom: 20px;

    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    text-transform: uppercase;
    letter-spacing: normal;

    color: var(--primary-text-color);
}
.barbers-title {
    padding-bottom: 44px;

    color: var(--primary-text-color);
}
.barbers-list {
    display: flex;
    gap: 30px;
}
.barber {
    padding: 30px 82px 0 82px;
}
.barber-name {
    padding-bottom: 8px;

    font-weight: 400;
    font-size: 18px;
    line-height: 1.39;
    text-align: center;

    color: var(--primary-text-color);
}
.barber-text {
    padding-bottom: 30px;

    font-size: 14px;
    line-height: 1.36;
    text-align: center;

    color: var(--accent-color);
}
.barber-social-list {
    display: flex;
    gap: 10px;
}
.barber-social-list .item {
    padding: 12px;
    flex-basis: calc((100% - 30px) / 4);
    max-height: 44px;
    border-radius: 50%;

    background-color: var(--main-white-color);
}
.barber-link:hover,
.barber-link:focus {
    fill: var(--accent-color);
}

/* Portfolio */

.portfolio-text-before {
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    text-transform: uppercase;
    letter-spacing: normal;

    color: var(--primary-text-color);
}

/* Online-booking */

.booking-title {
    color: var(--main-white-color);
    background-color: teal;
}

/* Contacts */

.contacts-title {
    color: var(--main-white-color);
    background-color: teal;
}
.contacts-list {
    font-style: normal;
}
.contacts-link {
    font-weight: 700;
}   
.contacts-link,
.contacts-tel {
    font-size: 18px;
    line-height: 1.67;
    text-decoration: none;

    color: var(--primary-grey-color);
}
.contacts-mail {
    font-size: 18px;
    line-height: 1.67;

    color: var(--primary-grey-color);
}
.contacts-link:hover,
.contacts-tel:hover,
.contacts-mail:hover,
.contacts-link:focus,
.contacts-tel:focus,
.contacts-mail:focus {
    color: var(--accent-color);
}
.contacts-text-before {
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    text-transform: uppercase;
    letter-spacing: normal;

    color: var(--main-white-color);
    background-color: teal;
}
.contacts-text {
    font-size: 18px;
    line-height: 1.67;
    
    color: var(--primary-grey-color);
}

/* Footer */

.copyright {
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;

    color: var(--primary-grey-color);
}
.footer-list .link {
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    text-decoration: none;

    color: var(--primary-text-color);
}
.footer-list .link:hover,
.footer-list .link:focus {
    color: var(--accent-color);
}