:root {
    --main-white-color: #FFFFFF;
    --accent-color: #FF6C00;
    --primary-text-color: #303030;
    --primary-grey-color: #9DA4BD;
    --secondary-grey-color: #555555;
}

body {
    background-color: var(--main-white-color);

    font-family: 'Open Sans', sans-serif;
    letter-spacing: 0.02em;
}

.section {
    padding-top: 120px;
    padding-bottom: 120px;
}

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.title {
    font-family: 'Raleway', sans-serif;
    font-size: 42px;
    line-height: 1.17;
    letter-spacing: 0.05em;
}

.list {
    padding: 0;
    margin: 0;

    list-style: none;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

h1,
h2,
h3,
p {
    margin-top: 0;
    margin-bottom: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

/* Header */

.page-header {
    position: fixed;
    width: 100%;
}

.header-logo {
    display: block;
    margin-right: 131px;
}

.background-container {
    display: flex;
    align-items: center;
    padding-top: 40px;
    padding-right: 20px;
}

.header-list {
    display: flex;
}

.header-list .item:not(:last-child) {
    margin-right: 30px;
}

.nav-right {
    margin-left: auto;
}

.link-tel {
    margin-right: 40px;
}

.header-list .link,
.link-tel {
    font-weight: 600;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.1em;
    text-decoration: none;

    color: var(--main-white-color);
}

.header-button {
    display: inline-block;
    padding: 12px 20px;

    font-family: inherit;
    font-weight: 600;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.09em;
    text-transform: uppercase;
    
    color: var(--main-white-color);
    background-color: inherit;

    border: 1px solid var(--accent-color);
    border-radius: 25px;

    cursor: pointer;
}

.header-list .link:hover,
.header-list .link:focus,
.link-tel:hover,
.link-tel:focus {
    color: var(--accent-color);
}

.header-button:hover,
.header-button:focus {
    background-color: var(--accent-color);
}

/* Hero */

.hero-container {
    display: flex;
}

.hero-left {
    width: 100px;
    height: 100%;
}

.hero-right {
    flex-grow: 1;
    padding: 272px 0 208px 100px;

    background-image: url(../images/slider-3.jpg);
    background-size: cover;
    background-position: center;
}

.hero-title {
    font-size: 72px;
    line-height: 1.18;

    color: var(--main-white-color);
}

.hero-list {
    display: flex;
    gap: 40px;
}

.hero-list .link {
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    text-decoration: none;

    color: var(--primary-text-color);
}

.hero-list .link:hover,
.header-button:focus {
    color: var(--accent-color);
}

.hero-text-before {
    display: flex;
    align-items: center;
    margin-bottom: 20px;

    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    text-transform: uppercase;
    letter-spacing: normal;

    color: rgba(157, 164, 189, 0.6);
}
.hero-text-before::before {
    content: "";
    display: inline-block;
    width: 60px;
    height: 1px;
    margin-right: 20px;

    background-color: rgba(157, 164, 189, 0.6);
}
.hero-text {
    margin-top: 20px;

    font-size: 18px;
    line-height: 1.67;

    color: var(--primary-grey-color);
}

/* About */

.container-about {
    display: flex;
}
.container-about img {
    margin-right: 30px;
}
.about-right {
    width: 470px;
}

.about-text-before {
    display: flex;
    align-items: center;
    margin-bottom: 20px;

    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    text-transform: uppercase;
    letter-spacing: normal;

    color: var(--primary-text-color);
}
.about-text-before::before {
    content: "";
    display: inline-block;
    width: 60px;
    height: 1px;
    margin-right: 20px;
    
    background-color: var(--primary-text-color)
}
.about-title {
    margin-bottom: 20px;

    color: var(--primary-text-color);
}
.about-text-primary {
    margin-bottom: 20px;

    font-size: 18px;
    line-height: 1.67;
    letter-spacing: 0.02em;

    color: var(--secondary-grey-color);
}
.about-text-secondary {
    margin-bottom: 42px;

    font-size: 14px;
    line-height: 1.86;

    color: var(--secondary-grey-color);
}
.about-button {
    display: inline-block;
    padding: 12px 20px;

    font-family: inherit;
    font-weight: 600;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.09em;
    text-transform: uppercase;

    color: var(--primary-text-color);
    background-color: var(--main-white-color);

    border: 1px solid var(--accent-color);
    border-radius: 25px;

    cursor: pointer;
}
.about-button:hover,
.about-button:focus {
    color: var(--main-white-color);
    background-color: var(--accent-color);
}

/* Services */

.services {
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;

    background-color: #111319;
    background-image: url(../images/services-and-prices.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.services-text-before {
    display: flex;
    align-items: center;

    padding-bottom: 20px;

    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    text-transform: uppercase;
    letter-spacing: normal;

    color: rgba(157, 164, 189, 0.6);
}
.services-text-before::before {
    content: "";
    display: inline-block;
    width: 60px;
    height: 1px;
    margin-right: 20px;

    background-color: rgba(157, 164, 189, 0.6);
}
.services-title {
    padding-bottom: 44px;

    color: var(--main-white-color);
}
.services-lists {
    display: flex;
    margin-bottom: 44px;
}
.services-list-left,
.services-list-right {
    flex-basis: 570px;
    padding: 30px 21px 30px 20px;

    font-size: 18px;
    line-height: 1.67;

    color: var(--primary-grey-color);
}
.services-list-left {
    margin-right: 30px;

    background-image: linear-gradient(180deg, #171A24 0%, rgba(23, 26, 36, 0.2) 100%);
}
.services-list-right {
    background-image: linear-gradient(180deg, #090B13 0%, rgba(9, 11, 19, 0.2) 100%);
}
.services-list-left .item {
    display: flex;
    align-items: baseline;
}
.services-list-left .item::before {
    content: '';
    flex-grow: 1;
    height: 1px;
    margin-left: 12px;
    margin-right: 12px;
    background-color: rgba(157, 164, 189, 0.12);
}
.services-list-left .item:not(:last-child) {
    margin-bottom: 20px;
}
.services-list-right .item {
    display: flex;
    align-items: baseline;
}
.services-list-right .item::before {
    content: '';
    flex-grow: 1;
    height: 1px;
    margin-left: 12px;
    margin-right: 12px;
    background-color: rgba(157, 164, 189, 0.12);
}
.services-list-right .item:not(:last-child) {
    margin-bottom: 20px;
}
.text-price {
    order: -1;
} 
.services-button-container {
    text-align: center;
}
.services-button {
    display: inline-block;
    padding: 12px 20px;


    font-weight: 600;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.09em;
    text-transform: uppercase;
    
    color: var(--main-white-color);
    background-color: inherit;

    border: 1px solid #FF6C00;
    border-radius: 25px;
    cursor: pointer;
}
.services-button:hover,
.services-button:focus {
    background-color: var(--accent-color);
}

/* Why us */

.why-us .container {
    display: flex;
    padding-left: 100px;
}

.why-us-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin-right: 130px;
    width: 370px;
}

.why-us-list .item {
    padding: 20px 24px;
    width: 170px;
    height: 133px;

    background-color: #F7F7F7;
    text-align: center;
}

.item-position {
    position: relative;
    top: 30px;
}

.number {
    padding-bottom: 6px;

    font-weight: 700;
    font-size: 42px;
    line-height: 1.36;
    letter-spacing: 0.05em;

    color: var(--primary-text-color);
}
.sign {
    font-weight: 600;
    font-size: 16px;
    line-height: 1.38;

    color: var(--accent-color);
}
.whyus-right {
    width: 500px;
}
.whyus-list-text {
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    letter-spacing: normal;

    color: var(--primary-text-color);
}
.whyus-text-before {
    display: flex;
    align-items: center;
    padding-bottom: 20px;

    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    text-transform: uppercase;
    letter-spacing: normal;

    color: var(--primary-text-color);
}
.whyus-text-before::before {
    content: "";
    display: inline-block;
    width: 60px;
    height: 1px;
    margin-right: 20px;
    
    background-color: var(--primary-text-color)
}
.why-us-title {
    padding-bottom: 20px;

    color: var(--primary-text-color);
}
.whyus-text {
    font-size: 18px;
    line-height: 1.67;

    color: var(--secondary-grey-color);
}

/* Our barbers */

.our-barbers {
    background-color: #F7F7F7;
}

.barbers-text-before {
    display: flex;
    align-items: center;
    padding-bottom: 20px;

    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    text-transform: uppercase;
    letter-spacing: normal;

    color: var(--primary-text-color);
}
.barbers-text-before::before {
    content: "";
    display: inline-block;
    width: 60px;
    height: 1px;
    margin-right: 20px;
    
    background-color: var(--primary-text-color);
}
.barbers-title {
    padding-bottom: 44px;

    color: var(--primary-text-color);
}
.barbers-list {
    display: flex;
    gap: 30px;
}
.barber {
    padding: 30px 82px 0 82px;
}
.barber-name {
    padding-bottom: 8px;

    font-weight: 400;
    font-size: 18px;
    line-height: 1.39;
    text-align: center;

    color: var(--primary-text-color);
}
.barber-text {
    padding-bottom: 30px;

    font-size: 14px;
    line-height: 1.36;
    text-align: center;

    color: var(--accent-color);
}
.barber-social-list {
    display: flex;
    gap: 10px;
}

.barber-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;;
    height: 44px;
    border-radius: 50%;
    
    background-color: var(--main-white-color);
}
.barber-link:hover,
.barber-link:focus {
    fill: var(--accent-color);
}

/* Portfolio */

.portfolio-text-before {
    display: flex;
    align-items: center;
    margin-bottom: 44px;

    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    text-transform: uppercase;
    letter-spacing: normal;

    color: var(--primary-text-color);
}
.portfolio-text-before::before {
    content: "";
    display: inline-block;
    width: 60px;
    height: 1px;
    margin-right: 20px;

    background-color: var(--primary-text-color);
}
.portfolio-list {
    display: flex;
    gap: 30px;
}

/* Booking & Contacts */

.contacts-group {
    max-width: 1600px;
    margin: 0 auto;
    background-color: #191C26;
    background-image: url(../images/contacts.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left calc(50% + 423px) center;
}

.contatcs-group-container {
    display: flex;
    gap: 30px;
}

.online-booking {
    flex-basis: 570px;
}

.booking-title {
    margin-bottom: 44px;
    color: var(--main-white-color);
}

.contacts {
    flex-basis: 570px;
    padding-left: 100px;
}

.contacts-title {
    margin-bottom: 40px;

    color: var(--main-white-color);
}
.contacts-list {
    margin-bottom: 70px;

    font-style: normal;
}
.contacts-list .item:not(:last-child) {
    margin-bottom: 20px;
}
.contacts-link {
    font-weight: 700;
}
.contacts-icon-top {
    align-self: baseline;
}
.contacts-icon {
    margin-right: 16px;
    stroke: #9da4bd;
    fill: transparent;
}
.contacts-link,
.contacts-tel {
    display: flex;
    align-items: center;

    font-size: 18px;
    line-height: 1.67;
    text-decoration: none;

    color: var(--primary-grey-color);
}
.contacts-mail {
    display: flex;
    align-items: center;

    font-size: 18px;
    line-height: 1.67;

    color: var(--primary-grey-color);
}
.contacts-text-before {
    display: flex;
    align-items: center;
    margin-bottom: 20px;

    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    text-transform: uppercase;
    letter-spacing: normal;

    color: var(--main-white-color);
}
.contacts-text-before::before {
    content: "";
    display: inline-block;
    width: 60px;
    height: 1px;
    margin-right: 20px;

    background-color: rgba(157, 164, 189, 0.6);
}
.contacts-text {
    font-size: 18px;
    line-height: 1.67;
    
    color: var(--primary-grey-color);
}

/* Footer */

.fopter-section {
    padding-top: 56px;
    padding-bottom: 70px;
}
.footer-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.copyright {
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;

    color: var(--primary-grey-color);
}
.footer-list {
    display: flex;
    gap: 40px;
}
.footer-list .link {
    display: flex;
    align-items: center;

    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    text-decoration: none;

    color: var(--primary-text-color);
}
.footer-list .first-link::before {
    content: "";
    display: inline-block;
    width: 60px;
    height: 1px;
    margin-right: 20px;

    background-color: var(--primary-text-color);
}
.footer-list .link:hover,
.footer-list .link:focus {
    color: var(--accent-color);
}